@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --gradient-blue: linear-gradient(
    45deg,
    hsla(201, 77%, 75%, 1) 0%,
    hsla(173, 48%, 83%, 1) 100%
  );
  --transparent-white: hsla(0, 0%, 100%, 0.4);
  --lighter-transparent-white: hsla(0, 0%, 100%, 0.25);
  --inter: 'Inter', sans-serif;
  font-family: var(--inter);
}

body {
  display: flex;
  height: 100svh;
  overflow: hidden;
  background: var(--gradient-blue);
}

#wrapper {
  display: flex;
}

/* Sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 350px;
  background-color: var(--transparent-white);

  hr {
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--transparent-white);
  }
}

#title {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-bottom: solid 2px var(--transparent-white);

  img {
    height: 50px;
    width: 50px;
  }

  h1 {
    font-size: 2.2rem;
  }
}

#searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 310px;
  height: 85px;
  background-color: var(--transparent-white);
  border-radius: 5px;
  margin: 0 auto;
}

/* Toggle Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  background-color: #cbecfb;
  transition: 0.4s;
  border: solid 2px white;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: '°C';
    color: white;
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 2px;
    border-radius: 50%;
    background-color: #156dd8;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: #fcebeb;

  &::before {
    content: '°F';
    transform: translateX(30px);
    background-color: #ed4134;
  }
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

/* Main Container */

#container {
  padding: 30px;
  flex-grow: 1;
  overflow-y: auto;
}

/* Weather Container */

#weather {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

/* Today */

#today {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

/* Current Weather Block*/

#current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 625px;
  padding: 30px;

  h1 {
    font-size: 6rem;

    span {
      padding: 0 0 0 30px;
    }
  }

  h5 {
    font-weight: 300;
  }
}

/* Hours Weather */

#hours-weather {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* width: 625px; */
  height: 137px;
  padding: 20px;
  font-weight: 300;
  border-radius: 10px;
  border: solid 1px white;
  background-color: var(--lighter-transparent-white);
}

.hour-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hour {
  font-size: 0.75rem;
  text-transform: lowercase;
}

.hour-temp {
  font-size: 0.875rem;
}

/* Prevsions Weather Block */

#previsions-weather {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 356px;
  gap: 5px;
  padding: 20px;
  margin: 50px 0 0 0;
  border-radius: 10px;
  border: solid 1px white;
  background-color: var(--lighter-transparent-white);

  hr {
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--transparent-white);

    &:last-of-type {
      display: none;
    }
  }
}

.previsions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 300;
}

.previsions-data {
  display: flex;
  align-items: center;
  gap: 15px;
}
