@import './reset.css';

:root {
  --gradient-blue: linear-gradient(
    45deg,
    hsla(201, 77%, 75%, 1) 0%,
    hsla(173, 48%, 83%, 1) 100%
  );

  --transparent-white: hsla(0, 0%, 100%, 0.4);
}

body {
  display: flex;
  height: 100svh;
  background: var(--gradient-blue);
}

/* Sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  background-color: var(--transparent-white);

  hr {
    width: 100%;
    border: none;
    border-bottom: solid 1px white;
  }
}

#title {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-bottom: solid 1px white;

  img {
    height: 50px;
    width: 50px;
  }

  h1 {
    font-size: 2.2rem;
  }
}

#searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 310px;
  height: 85px;
  background-color: var(--transparent-white);
  border-radius: 5px;
  margin: 0 auto;
}

/* Toggle Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  background-color: #cbecfb;
  transition: 0.4s;
  border: solid 2px white;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: '°C';
    color: white;
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 2px;
    border-radius: 50%;
    background-color: #156dd8;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: #fcebeb;

  &::before {
    content: '°F';
    transform: translateX(30px);
    background-color: #ed4134;
  }
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

/* Current Weather Block*/

#current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 625px;

  h1 {
    font-size: 5.5rem;

    span {
      padding: 0 0 0 30px;
    }
  }
}
